<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
  </head>

  <body>
    <h1 id="status">Hello <span id="username"></span></h1>
    <button id="logoutBtn" type="submit">Logout</button>

    <script>
      const status = document.getElementById("status");
      const username = document.getElementById("username");
      const logoutBtn = document.getElementById("logoutBtn");

      fetch("/user")
        .then((res) => res.json())
        .then((data) => (username.innerText = data.user.username));

      logoutBtn.addEventListener("click", () => {
        fetch("/logout", {
          method: "POST",
        })
          .then((res) => res.json())
          .then((data) => (status.innerText = data.msg));
      });
    </script>
  </body>
</html>
